.profile {
  box-sizing: border-box;
  max-width: 68.75%;
  margin-inline: auto;
  padding: 40px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 930px) {
  .profile {
    max-width: 88.125%;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    padding-bottom: 36px;
  }
}