.footer {
  box-sizing: border-box;
  max-width: 68.75%;
  padding: 74px 0 60px;
  margin-inline: auto;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 46px 0 36px;
    max-width: 88.125%;
  }
}