.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  background-image: url(../../../images/logo/add-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s ease-in;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 930px) {
  .profile__add-button {
    min-width: 282px;
  }
}