.element__like {
  min-width: 22px;
  min-height: 19px;
  background-color: inherit;
  background-image: url(../../../images/logo/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: all .2s ease-in;
}

.element__like:hover {
  opacity: .5;
}