.header {
  box-sizing: border-box;
  max-width: 68.75%;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin-inline: auto;
  display: flex;
  padding-top: calc((100vw - 320px) / (1280 - 320) * (45 - 28) + 28px);
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
  }
}